<app-hero heroTitle="Our Work" heroSubtitle="A collection the stuff we've designed and built, from enterprise SaaS solutions to fun consumer apps."></app-hero>
<section class="container">
  
  <section class="projects--grid">

    <app-card 
    cardImage="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
    cardStack="Mexican"
    cardTitle="Tacos"
    cardSubtitle="Our team enjoyed these"
    ></app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1513456852971-30c0b8199d4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
    cardStack="Mexican"
    cardTitle="Nachos"
    cardSubtitle="Our team enjoyed these"
    ></app-card>
    
    <app-card 
    cardImage="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
    cardStack="Mexican"
    cardTitle="Tacos"
    cardSubtitle="Our team enjoyed these"
    ></app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1513456852971-30c0b8199d4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
    cardStack="Mexican"
    cardTitle="Nachos"
    cardSubtitle="Our team enjoyed these"
    ></app-card>
    <app-card 
    cardImage="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
    cardStack="Mexican"
    cardTitle="Tacos"
    cardSubtitle="Our team enjoyed these"
    ></app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1513456852971-30c0b8199d4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
    cardStack="Mexican"
    cardTitle="Nachos"
    cardSubtitle="Our team enjoyed these"
    >
    </app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
    cardStack="Mexican"
    cardTitle="Tacos"
    cardSubtitle="Our team enjoyed these"
    >
    </app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1513456852971-30c0b8199d4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
    cardStack="Mexican"
    cardTitle="Nachos"
    cardSubtitle="Our team enjoyed these"
    >
    </app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
    cardStack="Mexican"
    cardTitle="Tacos"
    cardSubtitle="Our team enjoyed these"
    >
    </app-card>

    <app-card 
    cardImage="https://images.unsplash.com/photo-1513456852971-30c0b8199d4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
    cardStack="Mexican"
    cardTitle="Nachos"
    cardSubtitle="Our team enjoyed these"
    >
    </app-card>

    

  </section>

</section>
