<app-hero heroTitle="OUR COMPANY" heroSubtitle="We are a group of creative individuals who love to make ideas into reality. We are passionate about technology, good design, and having fun."></app-hero>

<section class="container">

  <h1>OUR PHILOSOPHY</h1>
  <section class="about--copy">
    <p>
      Start Studio has been helping businesses design, build, market, and scale their flagship products since 2008. Creating new tech and helping our clients succeed is our passion. We've worked with some of the most successful companies in Utah, but we LOVE being plugged in with small 
    </p>
  
    <p>
      Start Studio has been helping businesses design, build, market, and scale their flagship products since 2008. Creating new tech and helping our clients succeed is our passion. We've worked with some of the most successful companies in Utah, but we LOVE being plugged in with small 
    </p>
  
    <p>
      Start Studio has been helping businesses design, build, market, and scale their flagship products since 2008. Creating new tech and helping our clients succeed is our passion. We've worked with some of the most successful companies in Utah, but we LOVE being plugged in with small 
    </p>
  </section>

</section>

<a routerLink="/" routerLinkActive="active">Home</a>